<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/htmlHead") %>
    <title>Document</title>
</head>
<body>
    <%- include("./partials/navBar") %>
    <%- include("./partials/jsScripts") %>
</body>
</html>